{% extends 'index.html' %}
{% block 'content' %}
<style type="text/css">
  form input[type="text"] {
height: 25px;width: 40px;margin: 0;padding: 0;font-size: 15px;border: 1px solid #CCCCCC;
}

form input[type="submit"] {
height: 29px;width: 50px;margin: 0;padding: 0;font-size: 15px;background-color: #FFFFFF;border: 1px solid #CCCCCC;
}
</style>

<div id="wrapper">
  <h1>Book Inventory</h1>
<form action="/search/" method="get">
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Book Name</span></th>
        <th><span>Author</span></th>
        <th><span>Publisher</span></th>
        <th><span>Price</span></th>
      </tr>
    </thead>    
    <tbody>
      <tr>
      <td>  
          <input type="text" name="id">          
      </td>
      <td>
          <input type="text" name="name">
        </form>
      </td>
      <td>
          <input type="text" name="author">
      </td>
      <td>
          <input type="text" name="publication">
      </td>

      <td>      </td>

      </tr>
      {% for b in bl %}
      <tr>
        <td class="lalign">{{ b.id }}</td>
        <td>{{ b.name }}</td>
        <td>{% for auth in b.author.all %}{{ auth }} <br>{% endfor %}</td>
        <td>{{ b.pub }}</td>
        <td>{{ b.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<input type="submit" value="Go">
</form>
 </div> 
{% endblock %}