{% include 'index.html' %}
{% block crumb %}
{% endblock %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
{% block content %}
<div class="container">
    <img src="{% static '/media/images/' %}{{ p.image }}" alt="No image found" class="pull-left img-rounded sizeMedium gap">
        <h1 class="text-center">{{ p.name }}</h1>
        <p >Published By <a href="{% url 'publisher_page' publisher_id=p.pub_id %}">{{ p.pub }} </a> (Rated {{ publisher_rating }} out of 5)
            <br>
            Written By:
            {% for a in author_rating %}<a href="{% url 'author_page' author_id=a.id %}">{{ a }} </a>(Rated {{ a.author_avg_rating }} out of 5){% if not forloop.last %} & {% endif %}{% endfor %}
        <br>Price : ₹ {{ p.price }}
        <br>User Rating: {{ user_rating }} out of 5
        <p><br>
        <form class="form-inline" action="." method="post">
            {% csrf_token %}
            <input class="form-control" type="number"  min="1" max="5" name="user_rated">
            <input class="btn btn-default" type="submit" value="Rate">
        </form>
        </p>
</div>
{#        console.log($('input[name=rating-input-2]:checked').val())#}
{#       $("#rating") // select the radio by its id#}
{#    .change(function(){ // bind a function to the change event#}
{#        if( $(this).is(":checked") ){ // check if the radio is checked#}
{#            var val = $(this).val(); // retrieve the value#}
{#            console.log(val)#}
{#        }#}
{#    });#}
{% endblock %}
