{% extends 'index.html' %}
{% block 'content' %}
<style type="text/css">
  form input[type="text"] {
height: 25px;width: 40px;margin: 0;padding: 0;font-size: 15px;border: 1px solid #CCCCCC;
}

form input[type="submit"] {
height: 29px;width: 80px;margin: 0%; padding: 0;font-size: 15px;background-color: #666666 ;border: 1px solid #CCCCCC;
}
</style>
    <p style="color: #2c3e50; font-size: large;font-family: Roboto; "><span>You are Logged in as {{ user.username }}</span></p>
<div id="wrapper" style="width: 90%; overflow: auto; height: 90%;">
  <h1>Book Inventory</h1>
<form action="{% url 'search' %}" method="get">
  <table style="overflow-y: auto;" id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Book Name</span></th>
        <th><span>Author</span></th>
        <th><span>Publisher</span></th>
        <th><span>Price</span></th>
        <th><span>User Rating</span></th>
      </tr>
    </thead>    
    <tbody>
      <tr>
      <td>  
          <input type="text" name="id">          
      </td>
      <td>
          <input type="text" name="name">
      </td>
      <td>
          <input type="text" name="author">
      </td>
      <td>
          <input type="text" name="publication">
      </td>

      </tr>
      {% for entry in bl %}
      <tr>
        <td>
          <a style="color: #0c0f79; text-decoration: underline;" href="product/{{ entry.id }}">{{ entry.id }}</a>
        </td>
        <td style="overflow-wrap: break-word; max-width: 250px;">{{ entry.name }}</td>
          <td>{% for auth in entry.author.all %}<a style="color: #0c0f79; text-decoration: underline;" href="author/{{ auth.id }}">{{ auth }}</a>{% if not forloop.last %},{% endif %}{% endfor %}</td>
        <td>
            <a style="color: #0c0f79; text-decoration: underline;" href="publisher/{{ entry.pub_id }}">{{ entry.pub }}</a>
        </td>
        <td>{{ entry.price }}</td>
      {% if entry.u_rating %}
        <td>{{ entry.u_rating }}</td>
      {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
<input type="submit" value="Go">
</form>
 </div>
    <script>
{#    setTimeout(function(){window.location.reload(true);}, 5000);#}
{#    $.ajax({url: '/',#}
{#        success: function(data)#}
{#    {$('#wrapper').html(data);  }});#}
    </script>
{% endblock %}