{% extends 'index.html' %}
<title>Book Inventory</title>
{% load static %}

{% block nav_right %}
    <button type="button" class="btn btn-success navbar-btn">Add Book</button>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    {% if messages %}
        <div class="text-center alert alert-success" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
        </div>
    {% endif %}
    </div>
<div class="container">
    <div class="container">
        <h1 class="text-center">Book Inventory</h1>
            <table class="table">
                <tr>
                    <form action="{% url 'search' %}" method="get">

                    <td>
                        <input type="text" class="form-control" name="id" placeholder="Search by Id">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="name" placeholder="Search by Title">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="author" placeholder="Search by Author">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="publication" placeholder="Search by Publisher">
                    </td>
                    <td><input type="submit" class="btn btn-default btn-info" value="Go"></td>
                    </form>
                </tr>
            </table>

            <table class="table">

                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Book Title</span></th>
                    <th><span>Author</span></th>
                    <th><span>Publisher</span></th>
                    <th><span>Price</span></th>
                    <th><span>User Rating</span></th>
                    <th><span>Delete</span></th>
                    <th><span>Edit</span></th>
                    <th><span>In stock?</span></th>
                </tr>
                </thead>
                <tbody class="book_data">
                {% for entry in object_list %}
                    <tr class={{ entry.id }}>
                        <td>
                            <a href="{% url 'product_page' book_id=entry.id %}">{{ entry.id }}</a>
                        </td>
                        <td >{{ entry.name }}</td>
                        <td>{% for auth in entry.author.all %}
                            <a href="{% url 'author_page' author_id=auth.id %}">{{ auth }}</a>
                            {% if not forloop.last %},{% endif %}{% endfor %}</td>
                        <td>
                            <a href="{% url 'publisher_page' publisher_id=entry.pub_id %}">{{ entry.pub }}</a>
                        </td>
                        <td>{{ entry.price }}</td>
                        {% if entry.u_rating %}
                            <td>{{ entry.u_rating }}</td>
                        {% else %}
                            <td> Not Rated</td>
                        {% endif %}
                        <td>
                            <form action="{% url 'delete_book' pk=entry.pk %}" method="POST">
                                {% csrf_token %}
                                    <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
                            </form>
                        </td>
                        <td>
                            <a href="{% url 'edit_book' pk=entry.pk %}" type="button" name="edit" class="btn btn-default edit_button">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" class="toggle_button" {% if entry.availability %} checked {% endif %} data-toggle="toggle">
                            </label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $(".btn.btn-success").on('click',function () {
                console.log($(this));
                console.log("add book clicked");
                window.location.href = '{% url 'add_book' %}/';
            });

            $(".toggle_button").change(function () {
                var switch_id = $(this).parents(':eq(3)').prop('className');
                var switch_status = $(this).is(':checked');
                console.log(switch_id, switch_status);
                // debugger;
                $.ajax({
                    url: "{% url 'stock_change' %}/",
                    type: 'GET',
                    data: {switch_id: switch_id, switch_status: switch_status},
                    success: function (data) {
                        toastr.success(data['message']);
                    },
                    failure: function (data) {
                        toastr.error("Some error here");
                    }
                });
            });

    });
    </script>
{% endblock %}