{#{% include 'index.html' %}#}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1> <span></span></h1>
        <nav class="codrops-demos">
            <span><strong></strong></span>
        </nav>
    </header>
    <section>
    <div id="container_demo" >
        <div id="wrapper">
            <div id="login" class="animate form">

    <form action="." method="post">
        {% csrf_token %}
                    <h1> Change Password </h1>
                    <p>
                        {{ form.old_password|as_crispy_field }}
                    </p>
                    <p>
                        {{ form.password1|as_crispy_field }}
                    </p>
                    <p>
                        {{ form.password2|as_crispy_field }}
                    </p>

                    <p class="signin button">
{#                        <input type="submit" value="Change Now"/>#}
                    </p>
                    <p class="change_link">
                        Already a member ?
                        <a href="{% url 'index' %}"> Go to Home </a>
                    </p>
                </form>

            </div>
        </div>
    </div>
    </section>
</div>

{% endblock %}