{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
</head>
{% block 'content' %}
    <div class="container">
    <header>
        <h1> Change Your Password <span></span></h1>
        <nav class="codrops-demos">
            <span><strong></strong></span>
        </nav>
    </header>
    <section>
    <div id="container_demo" >
        <div id="wrapper">
            <div id="login" class="animate form">

    <form action="." method="post">
        {% csrf_token %}
                    <h1> Change Password </h1>
                    <p>
                        <label for="passwordsignup" class="youpasswd" data-icon="p">Old password </label>
                        {{ reset_form.old_password }}
                        {{ reset_form.old_password.errors }}
                    </p>
                    <p>
                        <label for="passwordsignup" class="youpasswd" data-icon="p">New password </label>
                        {{ reset_form.password1 }}
                    </p>
                    <p>
                        <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                        {{ reset_form.password2 }}
                    </p>
                        {% if reset_form.errors %}
                            {{ reset_form.password2.errors }}
                        {% endif %}
                    <p class="signin button">
                        <input type="submit" value="Change Now"/>
                    </p>
                    <p class="change_link">
                        Already a member ?
                        <a href="{% url 'index' %}"> Go to Home </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    </section>
</div>

{% endblock %}