{% load static %}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}" />

    {% block extra_css %}
    {% endblock %}

</head>
<body>

<nav class="nav navbar-default">
    <div class="container-fluid">

      <ul class="nav navbar-nav navbar-left">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">{{ title }}</li>
          </ol>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>{% block nav_right %} {% endblock %}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="navbar-link" href="/password_change">Change Password</a></li>
            <li><a href="#">Another action</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="navbar-link" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
        {% block navbar %}
        {% endblock %}
    </div>
</nav>

{% block content %}
{% endblock %}

<script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>

{% block extra_js %}
{% endblock %}

</body>
</html>